.content {
	margin-left: 10px;
	width: 95vw;
}

.stockBox {
	padding-bottom: 3px;
	padding-top:3px;
}

.stockName {
	font-weight:bold;
	font-size:7pt;
}

.newsTitle {
	font-weight:bold;
	font-size:10pt;
	padding-bottom: 6px;
}

.newsText {
	font-size:7pt;
}

.label-default {
	font-size: 7pt;
	font-weight: bold;
	background-color: white;
}

.diff {
	font-weight: bold;
}

.diffPlus {
	color: green;
}

.diffMinus {
	color: red;
}

.priceHeader {
	font-size: 7pt;
	font-weight: bold;
}

.stockRow {
	//background:white;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

.rowChangedPlus {
	background:green;
}

.rowChangedNegativ {
	background:red;
}

.newsRowChanged {
	background: black;
}

.newsRow {
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

.postRowChanged {
	background: black;
}

.postRow {
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

.halfViewPort {
	height: 48vh;
	max-height: 48vh;
	overflow: hidden;
	margin-top: 10px;
}

.scrollContainer {
	height: 100%;
	overflow: hidden;
}

.scrollContainer > div:hover {
	box-shadow: 0 10px 6px -6px #777;
}

.chartContainer {
	height: calc(48vh - 30px);
	max-height: calc(48vh - 30px);
}

#bottom_right, #bottom_left, #top_right, #top_left {
	height: 100%;
}

#bottom_left > div, #bottom_right > div, #top_right > div, #top_left > div {
	height: 100%;
}

#bottom_left > div > div, #bottom_right > div > div, #top_right > div > div, #top_left > div > div {
	height: 100%;
}
